<h1>Sign in</h1>
<form action="/sessions/create">
  <label for="username">Email:</label>
  <input id="username"input type="text" name="username">
  <label for="password">Password:</label>
<input id="password" type="password" name="password">
  <input type="submit">
</form>