<h1>New User</h1>

<form action="/create_user">
  <div>
    <label for="name">Email</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="bio">Bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
<div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" />
  </div>
  <div>
    <label for="password_confirmation">Password Confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

