<div>
<h1 class="centered">Ballet Dance</h1> 
</div>
 <div class="container">
    <image class="image" src= "http://i61.tinypic.com/feq8hs.png" alt="Dance Picture">
    <div class="caption">
      <p class="imgcaption">This is an image of my ballet dance. It was a number to an orchestral song called "masquerade". We used masks as a prop. </p>
      <div>
      <p>For a jazz class, you will most likely need;</p>
        <ul class="list">
          <li><b>Leotard (color may vary)</b></li>
          <li><b>Pink tights</b></li>
          <li><b>Hair pulled back into a ballet bun</b></li>
          <li><b>Ballet slippers</b></li>
      </ul>
      </div>
      <div>
        <p>Here are a few files about Ballet Dance</p>
        <ul class="list">
          <li><a href="http://www.thecharlestonballet.com/educationOutreach.pdf">History of Ballet</a></li>
          <li><a href="http://www.balletaustin.org/education/documents/HistoryofBalletHandoutsforStudents.pdf">The History of Ballet</a></li>
          <li><a href="http://sc64.ucoz.ru/referat/76.pdf">Research Paper</a></li>
          <li><a href="http://www.paballet.org/sites/default/files/documents/PABallet-HistoryofBalletpdf.pdf">Ballet History</a></li>
          <li><a href="http://www.madance.com/mazone/archive/curriculum/Ballet/BalletHistory.pdf">Slideshow </a></li>
          <li><a href="http://en.wikipedia.org/wiki/Classical_ballet">Wikipedia Classical Ballet</a></li>
          <li><a href="http://home.aubg.bg/students/ASM100/Design%20and%20Layout/Magazine/Magazine.pdf">Magazine Article</a></li>
          <li><a href="http://en.wikipedia.org/wiki/History_of_ballet">Wikipedia Ballet</a></li>
          <li><a href="http://www.pbt.org/community-engagement/brief-history-ballet">Brief History of Ballet</a></li>
          <li><a href="http://www.atlantaballet.com/resources/brief-history-of-ballet">Brief History</a></li>
          <li><a href="http://www.tiptoedancewear.com/ballet-history/">Ballet Article</a></li>
          <li><a href="http://www.washingtonballet.org/news-media/ballet-101/">Ballet 101</a></li>
        </ul>
      </div>
      <div class="sidebar">
        Ballet dance is a classical style of dance created in courts during the Italian Renaissance. It uses a lot fo foot movement and pointing. It is often assumed that it is just leaping around in a tutu, but that is not true. For one thing, the costumes don't have to be tutus. Also, Ballet involves a lot more than leaps. There are amany styles of leaps in ballet, but it actually is a lot of work with keeping your feet pointed, balance, and turns. You generally wear a leotard and pink tights with ballet slippers or pointe shoes for ballet. Ballet involves a lot of leg and foot movement, especially when you're on pointe. There is a lot of bending and stretching your legs, otherwise known as plies. Once you get on Pointe, you wear pointe shoes, which have wooden blocks at the toe, so that you can stand on them. Being on pointe is really hard, and it can damage your feet without proper preparation during ballet. If you are flexible or graceful, you will enjoy ballet. Ballet is great for muscles, balance , and flexibility, so if you want to work on any of those things, I reccomend taking ballet. Ballet is great for stretching as well. As you get older, it gets harder as they perpare you for pointe, so the stretching becomes more hardcore and complicated. 
      </div>
