<div>
<h1 class="centered">Contemporary Dance</h1> 
</div>
 <div class="container">
    <image class="image" src= "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/10366027_1440646952853274_1126635394024412051_n.jpg" alt="Dance Picture">
    <div class="caption">
      <p class="imgcaption">This is an image of my contemporary dance. It was a number to the song "Say Something" by the Pentatonix. This contemporary dance was slow, however there are faster dances in the contemporary style.</p>
      <div>
      <p>For a jazz class, you will most likely need;</p>
        <ul class="list">
          <li><b>Black Leotard</b></li>
          <li><b>Black pants or convertible tights</b></li>
          <li><b>Hair pulled back</b></li>
      </ul>
      </div>
      <div>
        <p>Here are a few files about Contemporary Dance</p>
        <ul class="list">
          <li><a href="http://www.contemporary-dance.org/contemporary-dance-history.html">Contemporary Dance History</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Contemporary_dance">Wikipedia</a></li>
          <li><a href="http://dance.lovetoknow.com/Origins_of_Contemporary_Dance">Origins of Contemporary Dance</a></li>
          <li><a href="http://www.dancefacts.net/dance-types/contemporary-dance/">Dance Facts</a></li>
          <li><a href="https://sites.google.com/a/email.arizona.edu/trey-mcintyre-project-at-uapresents/contemporary-dance-history">UA Google Site </a></li>
          <li><a href="http://www.blackfishacademy.com/dance.htm">Blackfish Academy link</a></li>
        </ul>
      </div>
      <div class="sidebar">
        Contemporary dance is often (mistakenly) thought of as the same thing as modern dance. Although they are very similar, they are different in many ways. Modern is a more specific type of dance, Contemporary changes a lot based on your choreographer's style. It can be narrative or abstract. Modern is very specific to the type of movement you can and cannot do, whereas contemporary is more free and open to improvisation. Contemporary draws from both modern and classical ballet, so although contemporary is based on modern, they are not the same thing. Many studios either offer Modern or Contemporary, not both. Contemporary is hard to teach because much of it depends on the choreographer. Improvisation(improv) is very imporant to contemporary, because the dance style relies so much on the desision of an instructor and choreographer. Contemporary is a great style of dance for anyone interested in a more modern or slower style of dance. Contemporary can be pretty much anything you want it to be, so anyone with an interest in choreography might want to take contemporary.
      </div>
