<div class="jumbotron">
  <h1>Dancing4Ever</h1>
  <p> Hello, and welcome to Dancing4Ever! My name is Ellie. I have been taking dance since preschool, and have always enjoyed it. Starting this coming year, I will be taking many dance classes (as I always have) and I would like to tell you all about dancing, so maybe you will also become interested. This coming year, I will be taking Jazz, Ballet, Contemporary, Modern, Tap, Choreography/improvisation, and a class about jumps, leaps, and turns. When I started, I was only taking one class, but because I have enjoyed dance so much, I have decided to add more classes. As you get older, you generally add more, because you enjoy it or because you want to be on pointe. Either way, I made this website to get you interested in dance. So please, browse, and consider taking dance classes!</p>
</div>

  <div class="container">
    <img src="http://www.piedpiperchildrensshoes.com/assets/dance-shoes5.jpg" alt="Different Types of Dance Shoes">
    <div class="imgcaption">
        <p>There are so many types of dance, and each type tends to use a different style of shoe. There are jazz shoes, pointe shoes, ballet shoes, tap shoes, hip hope shoes (all pictured) bare feet (for contemporary and modern) as well as a few other styles not pictured.</p>
      </div>
  </div>
<div>
  <h1 class="centered">Dance Information</h1>
<p class="centered2">Dance began a long time ago in ancient civilizations, or at least that's how far archaeologists trace it back to. It was often used for healing, but also often used for story telling before paper and pen. </p>
  
  <div>
    <p class="col-md-4">Ballet traces back to Italian Renaissance Courts in the 15th and 16th centuries. It later spread to France, where it was made most famous. Jazz music dates back to the music style during World War One. The style of dance dates back to the early days of the Colonies when Americans brought Africans over on slave ships. The style of dance was fully developed during the early 1900's in New Orleans.</p>
  <p class="col-md-4"> Contemporary dance was developed in the middle of the Twentieth Century. It originally borrowed from modern, classical, and jazz styles, but more and more styles have been added over the years. It usually looks like it is ballet and modern. Modern Dance began in the late Nineteenth and early Twentieth Centuries. Modern dance began as a rebellion against the strict structure of ballet, and eventually evolved into postmodern dance, which was a rebllion against the strictness of early modern dance.That lasted through the 1970's, although there are still traces of it now.</p>
    <p class="col-md-4"> Tap dance is considered to be more of a form of music than a form of dance. Broadway tap is generally used in musical theatre productions, whereas rhythm tap consideres itself to be more part of the jazz style of dance. It is believed to have begun during the mid-1800s. Tap dance started to decline during the 1950s, during the start of Rock n' roll, but in the 1970's it picked back up again. Movies like "Happy Feet" Helped to keep it up in the 2000s.</p>