<div>
<h1 class="centered">Jazz dance</h1> 
</div>
 <div class="container">
    <image class="image" src= "https://www.flickr.com/photos/56696069@N08/15846899473/" alt="Dance Picture">
    <div class="caption">
      <p class="imgcaption">This is a picture from my Jazz dance at this past year's dance recital. We did a dance to "The Way You Making Me Feel" by Michael Jackson. </p>
      <div >
      <p>For a jazz class, you will most likely need;</p>
        <ul class="list">
          <li><b>Jazz shoes (color may vary black/tan)</b></li>
          <li><b>Leotard (color may vary)</b></li>
          <li><b>Black pants or tights</b></li>
          <li><b>Hair pulled back</b></li>
      </ul>
      </div>
      </div>
      <div>

</div>
        <p> Here are some articles and PDFs about Jazz dance;</p>
        <ul class="list">
          <li><a href="http://www.cusd80.com/cms/lib6/AZ01001175/Centricity/Domain/3379/Intermediate%20Dance/Intermediate%20Jazz%20History%20and%20Vocabulary.pdf">PDF File</a></li>
          <li><a href="http://www.mychandlerschools.org/cms/lib6/AZ01001175/Centricity/Domain/3379/Advanced%20Dance/Jazz%20Unit%20Web%20Binder.pdf">Short PDF</a></li>
          <li><a href="http://www.princeton.edu/~achaney/tmve/wiki100k/docs/Jazz_dance.html">Article by Princeton</a></li>
          <li><a href="http://dance.lovetoknow.com/History_of_Jazz_Dance">History Article</a></li>
          <li><a href="http://www.jazz-dance.us/our-history/history-of-jazz-dance/">Article by History of Jazz Dance</a></li>
          <li><a href="http://www.rmda.co.nz/history/the-history-of-jazz-dance.htm">Article by a Dance Academy</a></li>
          <li><a href="http://www.centralhome.com/ballroomcountry/jazz.htm">Short Article</a></li>
          <li><a href="http://www.buzzle.com/articles/history-of-jazz-dance.html">History Article</a></li>
          <li><a href="http://www.dancetutors.co.uk/thehistoryjazzdancing.html">History Article by Dance Tutors</a></li>
        </ul>
           <div class="sidebar">
Jazz is a style of dance that usually uses the popular music of the time period. Michael Jackson music has been used in jazz dances for a long time. Usually songs in the American Top 40 (AT40) are used. Jazz uses sharp movements and isolations, like isolating one section of the body, such as just the arms or torso. Improvisation (improv) is a major element of jazz dance. Many elements of Jazz dance are respective to the choreographer, and cannot be classified under all jazz dance. When many people think of jazz dance, they think of major factors in the style, such as Bob Fosse, Gene Kelly, and many more. The style of Jazz dance we think of now is actually called modern jazz dance, developed in the 1950s, and that's what became the popular jazz style of dance we have now. The original style of Jazz Dance originated from African-American traditional dance. All Jazz dance now has roots from one of these two styles. The term "jazz" Was developed for the music and dance during World War One. A lot of jazz has movements that were meant to be parallel with Rock and Roll music, due to modern jazz's 1950's origins. If you are good with rhythm and you like dance, then you should definitely take jazz!
   </div>
