<div>
<h1 class="centered">Modern Dance</h1> 
</div>
<div class="container">
    <image class="image" src= "https://www.flickr.com/photos/56696069@N08/15846775093/" alt="Dance Picture">
    <div class="caption">
      <p class="imgcaption">This is an image of my modern dance. It was a number to the song "Kids". This modern dance was not slow, and involved a lot of floor movement. </p>
      <div>
      <p>For a modern class, you will most likely need;</p>
        <ul class="list">
          <li><b>Black Leotard</b></li>
          <li><b>Black pants or convertible tights</b></li>
          <li><b>Hair pulled back</b></li>
      </ul>
        <div>
          <p>Here are some files about modern dance;</p>
          <ul class="list">
            <li><a href="http://www.balletaustin.org/education/documents/HistoryofModernDanceStudentHandout.pdf">PDF file</a></li>
            <li><a href="http://www.dancemotionusa.org/media/6681/dancemotion_2010_dancehistory_essay.pdf">History of American Modern Dance</a></li>
            <li><a href="http://www.contemporary-dance.org/modern-dance-history.html">Article History of Modern Dance</a></li>
            <li><a href="http://www.infoplease.com/encyclopedia/entertainment/modern-dance-the-beginnings-modern-dance.html">Infoplease</a></li>
            <li><a href="http://autocww.colorado.edu/~flc/E64ContentFiles/DanceAndDancers/ModernDance.html">CU Article</a></li>
            <li><a href="http://dancedirectory.co.za/content/articles/articles.asp?MID=270&Section=ModernDanceandHipHop"Dance Directory></a></li>
            <li><a href="http://www.mdc.edu/wolfson/academic/ArtsLetters/art_philosophy/Humanities/beginnings/beginnings_of_modern_dance.htm">MDC Article</a></li>
            <li><a href="http://www.slideshare.net/Annie05/brief-history-of-modern-dance-presentation">Slideshow</a></li>
            <li><a href="http://www.danceadvantage.net/what-is-modern-dance/">Dance Advantage</a></li>
          </ul>
        </div>
      </div>
      <div class="sidebar">
        <p>Modern dance is a style of dance that was created to rebel against the strictness of ballet. Instead of the foot movements regularly used in ballet, Modern dance uses torso movements. Some of the pioneers of modern dance were Isadora Duncan, Merce Cunningham, Ruth St. Denis, Mary Wigman, Martha Graham, and Paul Taylor. Modern Dance was developed in the late nineteenth and early twentieth centuries. Later, in the 1960's, more people realized they didn't like the rules of Modern dance, and they created postmodern dance, a similar yet less-strict version of modern dance. Postmodern dance created the idea that andy movement is dance, and any person is a dancer. That lasted through the 1970's, although there are still traces of it today. Most of what we see today is modern dance. Modern dance can be slow movement or fast movement, it is often a lot of floorwork and complicated rolls and torso movements. Modern dance is great for anyone, whether they like or don't like ballet. It has many ballet-like movements, but also many movements meant to be against ballet.  
      </div>
