<div class="container">
        <h1 class="centered">Tap Dance</h1>
</div>
 <div class="container">
    <imge class="image" src= "https://www.flickr.com/photos/56696069@N08/15846775093/" alt="Dance Picture">
    <div class="imgcaption">
      <p>This is an image from my tap dance this past year. It was a tap dance to the song "Puttin' on the Ritz", and we had hats as a prop.  </p>
      <div>
      <p>For a tap class, you will most likely need;</p>
        <ul class="list">
          <li><b>Black tap shoes</b></li>
          <li><b>Leotard (color may vary)</b></li>
          <li><b>Black pants or tights</b></li>
          <li><b>Hair pulled back</b></li>
      </ul>
      </div>
      </div>
<div class="sidebar">
Tap is a style of dance that is all about rhythm! Tap is generally classified into two or three categories, rhythm tap, which is the main kind, broadway tap, which involves more hand movements than rhythm tap, and sometimes hoofing, which is a variation of all the kinds of tap. When you tap dance in a group, it's harder than dancing alone, because when just one person is off, everyone can hear it. Tap dance is great for anyone, but I would reccommend sticking with it for longer than you'd like. At the beginning, the class may appear boring, you begin with just toe and heel taps, but it gets really compicated and way more fun, with heel clicks and time steps and so much more. When you stick with it for a long time, your dances get faster, better, and more complicated!If you stick with tap, your sense of rhythm gets really good, which can help with musical timing on instruments and other dances. If you already have a good sense of rhythm, you'd be great at tap. And although some say tap is babyish, it really isn't. It can get really complicated, and seeing any famous tap dancer will show you how not-babyish it is. It's actually really complicated and fast, but more fun than the more mature styles like ballet. 
</div>
<div class="container">
  <p>Here are a few documents about Tap if you would like to know more about the history of tap or if you're a teahcer and would like printouts:</p>
  <ul class="list">
    <li><a href="http://www.nypl.org/sites/default/files/TAPENCY2002cites.pdf">PDF FIle</a></li>
    <li><a href="http://www.nypl.org/node/70581">NYPL Article</a></li>
  <li><a href="http://www.nystage.com/uploads/1/7/4/2/17422517/tkstudyguide0809.pdf">Short history</a></li>
    <li><a href="http://beholders.org/mind/artshistoryculture/138-origintapdance.html">The Origin of Tap Dance</a></li>
    <li><a href ="http://www.feetbeats.com/history.htm">History Article</a></li>
    <li><a href="http://www.tapdance.org/History"> Tap dance in America</a></li>
    <li><a href="http://www.britannica.com/EBchecked/topic/583059/tap-dance/242809/Early-history">Encycloædia Brittanica Article</a></li>
    <li><a href="http://dance.lovetoknow.com/history-tap-dancing">History Article</a></li>
    <li><a href="http://www.findingdulcinea.com/guides/Entertainment/Tap-Dancing.pg_0.html">Another History Article</a></li>
    <li><a href="http://www.revels-bey.com/tap.htm">Tap origins</a></li>
