<h1>New Review</h1>

<form action="/create_review">
  
  
  <div>
    <label for="studio_id">studio</label><br />
    <select name="studio_id">
      <% @studios.each do |studio| %>
      <option value="<%= studio.id %>"><%= studio.name %></option>
      <% end %>
  </select>
   </div>
  <div>
    <label for="text">text</label><br />
    <input id="text" name="text" type="text" />
  </div>
  <div>
    <label for="rating">rating</label><br />
    <input id="rating" name="rating" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>